
.mainFxmlClass {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: stretch; 
}


.titulo-bitacora {
    -fx-text-fill: #F6B80E;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.6), 3, 0, 0, 2);
}


.panel-cristal-bitacora {
    
    -fx-background-color: rgba(255, 255, 255, 0.32); 
    -fx-background-radius: 14;
    -fx-border-color: rgba(255, 255, 255, 0.55); 
    -fx-border-width: 1.8;
    -fx-border-radius: 14;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.55), 35, 0.0, 0.0, 16);
}

.scroll-registros {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-viewport-background-color: transparent;
    -fx-hbar-policy: never; 
    -fx-vbar-policy: as-needed;
}
.scroll-registros .corner {
    -fx-background-color: transparent;
}

.tabla-cabecera {
    -fx-background-color: #00008B; 
    -fx-background-radius: 6;
    -fx-padding: 0 15;
}

.label-cabecera {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #CFB702;
    -fx-alignment: center-left;
}


.label-celda {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff; 
    -fx-alignment: center-left;
    -fx-padding: 8 15;
 
    -fx-background-color: rgba(0, 0, 0, 0.25); 
    -fx-background-radius: 4;

}