/* =========================
   FONDO PRINCIPAL
========================= */
.contenedor-principal
{
    -fx-background-image: url("Image/FondoMenu.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* =========================
   MENÚ LATERAL
========================= */
.menu-lateral {
    -fx-background-color: linear-gradient(
        from 0% 0% to 0% 100%,
        #0b1b3a,
        #0f2f6b,
        #1a4fb3
    );

    -fx-pref-width: 340px;
    -fx-min-width: 320px;

    -fx-spacing: 20;
    -fx-alignment: top-center;

    -fx-background-radius: 0 20 20 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 15, 0, 0, 5);
}

/* =========================
   BOTONES MENU
========================= */
.boton-menu {
    -fx-pref-width: 260px;
    -fx-pref-height: 45px;

    -fx-background-color: #2b2f3a;
    -fx-text-fill: white;

    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.boton-menu:hover {
    -fx-background-color: #3b4a6b;
}

/* =========================
   BOTÓN CERRAR SESIÓN
========================= */
.boton-cerrar-sesion {
    -fx-pref-width: 260px;
    -fx-pref-height: 45px;

    -fx-background-color: #F6B80E;
    -fx-text-fill: white;

    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.boton-cerrar-sesion:hover {
    -fx-background-color: #4dbcf0;
}

/* =========================
   TEXTO MARCA
========================= */
.texto-marca {
    -fx-text-fill: #94a3b8;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

/* =========================
   SEPARADORES
========================= */
.separador-menu {
    -fx-background-color: rgba(255,255,255,0.3);
}